body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-ul {
  display: flex;
  
  background-color: purple;
  
  
}
.nav-li {
  flex-grow: 1;
  text-decoration: none;
}
.nav-a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
 
}
.nav-a:hover {
  text-decoration: underline;
}

.form-agregar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.form-agregar_label {
  display: grid;
  grid-template-columns: 130px 1fr;
}

